includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        -   identifier: trait.unused
        -   identifier: argument.type
        -   identifier: method.nonObject
        -   identifier: missingType.iterableValue

    excludePaths:
        - tests
        - src/Support/OpenSpoutExportStyle.php

    noEnvCallsOutsideOfConfig: false

    treatPhpDocTypesAsCertain: false
