includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        - '#Parameter \#1 \$callback of method Illuminate\\Container\\Container::call\(\) expects \(callable\(\): mixed\)\|string*#'
        -   identifier: trait.unused
        -   identifier: argument.type
        -   identifier: method.nonObject
        -   identifier: missingType.iterableValue

    excludePaths:
        - tests

    noEnvCallsOutsideOfConfig: false

    treatPhpDocTypesAsCertain: false
